.mobile-nav {
    position: absolute;
    top: -100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    transition: top .4s ease-in-out;

    nav {
        font-size: 1.65rem;
        z-index: 110;

        ul {
            flex-direction: column;

            li {
                margin-left: 0;
                margin-bottom: 35px;
            }
        }
    }
}

.mobile-nav.open {
    top: 0;
}

@media screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
}