@import '../../../sassStyles/variables.scss';
@import '../../../sassStyles/animations.scss';
@import '../../../sassStyles/functions.scss';

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 120px;
    color: $whiteColor;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        border-radius: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        top: -2.5%;
        left: -2.5%;
        width: 105%;
        height: 105%;
        border-radius: 50%;
        border: 2px solid $redColor;
        transform: rotate(10deg);
        animation: $distortionOne;
    }

    &::after {
        content: '';
        position: absolute;
        top: -2.5%;
        left: -2.5%;
        width: 105%;
        height: 105%;
        border-radius: 50%;
        border: 1px solid $redColor;
        transform: rotate(12deg);
        animation: $distortionTwo;
    }
}

.title {
    margin-top: 40px;
    font-size: 1.2rem;
}

.technologies {
    display: flex;
    margin-top: 10px;
    list-style: none;

    li {
        margin-right: 20px;
        padding: 4px 8px;
        font-size: 0.75rem;
        border: 1px solid $whiteColor;
        border-radius: 8px;
    }
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
    font-size: 0.875rem;

    a:first-child {
        margin-right: 30px;
    }
}

@include buttonStyle;

@media screen and (min-width: 768px) {
    .project {
        align-items: flex-start;
    }
}