.heading {
    margin-bottom: 50px;
    font-size: 2.25rem;
    text-transform: uppercase;
}

@media screen and (min-width: 700px) {
    .heading {
        margin-bottom: 70px;
        font-size: 3.875rem;
    }
}